.innerCardFooter,
.countIndicator, 
.playedIndicator {
  background: #00000058;
  box-shadow: none;
}
.countIndicator {
  box-shadow: none;
}
#loginPage .readOnlyContent,
#loginPage form {
max-width: 22em;
}
#loginPage h1 {
display: none
}
#loginPage .padded-left.padded-right.padded-bottom-page {
margin-top: 50px
}
#loginPage .raised.cancel.block.btnManual.emby-button {display: none}
.emby-scrollbuttons {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  justify-content: space-between;
  pointer-events: none;
}
.emby-scrollbuttons-button {
  pointer-events: initial;
}
.cardContent-button,
.cardContent-shadow,
.itemDetailImage,
.cardOverlayButton-hover,
.cardOverlayContainer,
.cardImageContainer,
.cardPadder,
.listItemImage,
.listItemImageButton,
.listItemButton,
.headerButton,
.paper-icon-button-light,
.innerCardFooter,
.blurhash-canvas,
.actionSheetMenuItem:hover,
.dialog {
    border-radius: 5px !important;
}
.dialog,
.toast {
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(80px) !important;
    -webkit-backdrop-filter: blur(60px) !important;
    -moz-backdrop-filter: blur (60px) !important;
    -o-backdrop-filter: blur(60px) !important;
    box-shadow: 0 0 20px 4px black;
}
.actionSheetMenuItem:hover {
  background-color: rgba(0, 164, 220, 0.2);
}
.mainDrawer {
  background-color: rgba(0, 0, 0, 0.8);
}
.navMenuOption:hover {
  background: rgba(0, 164, 220, 0.2);
}
.formDialogHeader, .formDialogFooter {
  background-color: #101010 !important;
}
.formDialogHeader.formDialogHeader-clear.justify-content-center,
.formDialogFooter.formDialogFooter-clear.formDialogFooter-flex,
.collapseContent {
  background-color: #0000 !important;
}