.innerCardFooter,
.countIndicator, 
.playedIndicator {
  background: #00000058;
  box-shadow: none;
}
.countIndicator {
  box-shadow: none;
}
#loginPage .readOnlyContent,
#loginPage form {
max-width: 22em;
}
#loginPage h1 {
display: none
}
#loginPage .padded-left.padded-right.padded-bottom-page {
margin-top: 50px
}
#loginPage .raised.cancel.block.btnManual.emby-button {display: none}
@media all and (min-width: 131.25em){
#castContent .card.overflowPortraitCard {
  width: 6.3vw !important; 
  font-size: 90% !important;
}
}